.primary-color {
    color: #46c1ed;
}
.secondary-color {
    color: #1f63ac;
}
.input {
     border-radius: 0px;
}
.edit-color {
     color: #007bff;
}
.delete-color {
     color: #dc3545;
}
.disabled-color {
	color: #00ced1;
}
.disabled {
    pointer-events: none;
	cursor: default;
	text-decoration: none;
}
.btn-regular {
    border: 1px solid #c0c0c0;
    width: 120px;
}
.uppercase {
    text-transform: uppercase;
}
.select {
    border-radius: 0px;
   appearance: none;
   text-indent: 1px;
   text-overflow: "";
}
